// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #027BE3;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$color-background:    #fffdf7;
$color-black:         #212121;
$color-black-heavy:   #000000;
$color-text:          #4f4f4f;
$color-text-out:      #90908e;
$color-primary:       #ffbf00;
$color-secondary:     #fff2cc;
$color-white:         #ffffff;
$color-red:           #e74c3c;
$color-green:         #2ecc71;
$color-separate:      #cccccc;

@import '~quasar-variables-styl'
